.timesheet_page_wrp .contant{
    margin-right:unset;
  }
  .timesheet_page_wrp .contant .remaining_leave_wrp{
    display:flex;
    justify-content:center;
  }
  .timesheet_page_wrp .contant .remaining_leave_wrp .remaining_leaves{
    font-weight: 600;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background: #2CDE00;
    padding: 10px 90px;
    border-radius: 10px;
  }
  .timesheet_page_wrp .contant .page_inner_wrp .form-material .form-group select{
    border: none;
    background-color: transparent;
    border-bottom: 0.5px solid #B7B7B7;
    padding: 6px;
    border-radius:0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  .timesheet_page_wrp .contant .page_inner_wrp .form-material .form-group select:focus {
    box-shadow: none;
  }
  .option_menu{
    background-color:#FFDFB2;
    border-color:#B7B7B7;
  }
  .timesheet_page_wrp .contant .page_inner_wrp .form-material .form-group input{
    border: none;
    background-color: transparent;
    border-bottom: 0.5px solid #B7B7B7;
    padding: 6px;
    border-radius:0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    box-shadow: none;
  }
  .timesheet_page_wrp .contant .page_inner_wrp .form-material .form-group .applying_to{
    display:flex;
  }
  .timesheet_page_wrp .contant .page_inner_wrp .form-material .form-group .applying_to .applying_ans{
    width: 88%;
    margin-left: 61px;
  }
  .timesheet_page_wrp .contant .page_inner_wrp .form-material .reason{
    display:flex;
  }
  .timesheet_page_wrp .contant .page_inner_wrp .form-material .form-group #example{
    width: 90%;
    margin-left: 78px;
    position:relative;
    background:#FFEED5
  }
  .timesheet_page_wrp .contant .page_inner_wrp .form-material .form-group #example .fr-wrapper{
    background:transparent;
  }
  .timesheet_page_wrp .contant .page_inner_wrp .form-material .form-group #example .fr-bottom{
    background:transparent;
    position:absolute;
  }
  .timesheet_page_wrp .contant .page_inner_wrp .form-material .form-group #example .fr-wrapper{
    border:unset;
    background:none;
  }
  .timesheet_page_wrp .contant .page_inner_wrp .form-material .form-group #example .fr-toolbar{
    border:unset;
    background:none;
  }
  .timesheet_page_wrp .contant .page_inner_wrp .form-material .form-group #example .fr-element {
    min-height: 168px;
  }
  .timesheet_page_wrp .contant .page_inner_wrp .form-material .sub_btn{
    display:flex;
    justify-content:center;
  }
  .timesheet_page_wrp .contant .page_inner_wrp .form-material .sub_btn #leaveSubmit{
    color: #ffffff;
    background: #f85046;
    border-radius: 50px;
    border: unset;
    padding: 12px 18px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
  }
  .submit:before{
    background-color: #F85046;
    bottom: 0;
    content: "";
    height: 20%;
    left: 45%;
    position: absolute;
    right: 0;
    top: 25;
    width: 10%;
    border-radius: 50px;
    filter: blur(12px);
  }

  /* Responsive */
  @media only screen and (max-width: 1199px) {
    .timesheet_page_wrp .contant .page_inner_wrp .form-material .form-group .applying_to .applying_ans{
        width: 87%;
        margin-left: 24px;
    }
  .timesheet_page_wrp .contant .page_inner_wrp .form-material .form-group #example{
        margin-left: 51px;
      }
} /* 1024 */
@media only screen and (max-width: 1023px) {
    .timesheet_page_wrp .contant .page_inner_wrp .form-material .form-group .applying_to .applying_ans{
        width: 87%;
        margin-left: 19px;
    }
  .timesheet_page_wrp .contant .page_inner_wrp .form-material .form-group #example{
        margin-left: 47px;
      }
} /* 980 */
@media only screen and (max-width: 979px) {
    .timesheet_page_wrp .contant .page_inner_wrp .form-material .form-group .applying_to .applying_ans{
        width: 100%;
        margin-left: 5px;
    }
    .timesheet_page_wrp .contant .page_inner_wrp .form-material .form-group #example{
        margin-left: 26px;
      }
      .timesheet_page_wrp .contant .remaining_leave_wrp .remaining_leaves{
        padding: 10px 15px;
      }

} /* 768 */
@media only screen and (max-width: 767px) {
    .timesheet_page_wrp .contant .page_inner_wrp .form-material .form-group .applying_to .applying_ans{
        width: 72%;
        margin-left: 37px;
    }
    .timesheet_page_wrp .contant .page_inner_wrp .form-material .form-group #example{
        margin-left: 65px;
        width:74%;
      }
} /* 650 */
@media only screen and (max-width: 649px) {
.page_title{
    font-size:23px;
}
.subtitle{
    font-size:14px;
}
.timesheet_page_wrp .contant .remaining_leave_wrp .remaining_leaves{
    font-size:12px;
    line-height:20px;
}
.timesheet_page_wrp .contant .page_inner_wrp .form-material .form-group .applying_to{
    display:block;
  }
.timesheet_page_wrp .contant .page_inner_wrp .form-material .form-group .applying_to .applying_ans{
    width: 100%;
    margin-left: unset;
}
.timesheet_page_wrp .contant .page_inner_wrp .form-material .reason{
    display:block;
  }
.timesheet_page_wrp .contant .page_inner_wrp .form-material .form-group #example{
    margin-left: unset;
    width: 100%;
  }
  .timesheet_page_wrp .contant .page_inner_wrp .form-material .form-group #example .fr-element {
    min-height: 80px;
    padding:unset;
}
} /* 480 */
@media only screen and (max-width: 479px) {
    .timesheet_page_wrp .contant .remaining_leave_wrp .remaining_leaves{
        font-size:10px;
        line-height:12px;
        padding: 8px 11px;
    }
    .page_title{
        font-size:14px;
    }
    .subtitle{
        font-size:11px;
    }
} /* 375 */