/* calander css */
.calander {
    width: 350px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    padding: 15px 30px 15px 0;
    overflow: auto;
}

.calendar {
    /* height: 309px;*/
    /* max-width: 435px; */
    margin: auto;
    background-color: #f8f5f2;
    border-radius: 20px;
    padding: 15px;
    position: relative;
    overflow: hidden;
}

.calendar-header .year-picker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    line-height: 21px;
    font-weight: 600;
    color: var(--color-txt);
    padding: 10px;
}
pre {
    margin: unset;
}

.calendar-body {
    padding: 10px;
}

.calendar-week-day {
    /* height: 30px; */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    margin-bottom: 8px;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: #1b1b1b;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
    color: var(--color-txt);
}

.calendar-days div {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
    margin: auto;
    font-size: 11px;
}

.calendar-days div span {
    position: absolute;
}

.calendar-days div:hover span {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
    width: 2px;
    height: 0;
    background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
    height: 100%;
}

.calendar-days div span:nth-child(1) {
    bottom: 0;
    left: 0;
}

.calendar-days div span:nth-child(3) {
    top: 0;
    right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
    width: 0;
    height: 2px;
    background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
    width: 100%;
}

.calendar-days div span:nth-child(2) {
    top: 0;
    left: 0;
}

.calendar-days div span:nth-child(4) {
    bottom: 0;
    right: 0;
}

.calendar-days div:hover span:nth-child(2) {
    transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
    transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
    transition-delay: 0.6s;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
    background-color: blue;
    color: #fff;
    border-radius: 50%;
}

.calendar-days div.leave-date,
.calendar-days div.leave-date:hover {
    background-color: orange;
    color: #fff;
    border-radius: 50%;
}

.calendar-days div.timesheet_fill-date,
.calendar-days div.timesheet_fill-date:hover {
    background-color: var(--green);
    color: #fff;
    border-radius: 50%;
}

.calendar-days div.timesheet_miss-date,
.calendar-days div.timesheet_miss-date:hover {
    background-color: var(--red);
    color: var(--white);
    border-radius: 50%;
}

.calendar-days div.holiday-date,
.calendar-days div.holiday-date:hover {
    background-color: var(--pink);
    color: var(--white);
    border-radius: 50%;
}

.calendar-days div.curr-date span {
    display: none;
}

.month-picker {
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.month-picker:hover {
    background-color: var(--color-hover);
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    /* height: 40px;
      width: 40px; */
    border-radius: 50%;
    /* display: grid; */
    /* place-items: center; */
    /* margin: 0 10px; */
    cursor: pointer;
}

.year-change:hover {
    background-color: var(--color-hover);
}

.calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.toggle {
    display: flex;
}

.toggle span {
    margin-right: 10px;
    color: var(--color-txt);
}

.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f8f5f2;
    padding: 20px;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
}

.month-list > div {
    display: grid;
    place-items: center;
}

.month-list > div > div {
    width: 100%;
    padding: 5px 15px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--color-txt);
    font-size: 14px;
    line-height: 21px;
}

.month-list > div > div:hover {
    background-color: var(--color-hover);
}

.calander_event_btn_wrp {
    margin: 30px 0;
}
.calander_event_btn {
    position: relative;
    font-size: 12px;
    line-height: 22px;
    font-weight: 600;
    color: #ffffff;
    background: #f85046;
    border-radius: 50px;
    border: unset;
    padding: 8px 28px;
    /* box-shadow: 0 5px 12px #f85046; */
}
.calander_event_btn:before {
    background-color: #f85046;
    bottom: 0;
    content: "";
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    top: 25;
    width: 100%;
    border-radius: 50px;
    filter: blur(12px);
}
.calander_event_wrp {
    padding: 15px 30px;
}
.calander_event_wrp h2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: unset;
}
.calander_event_table table {
    width: 100%;
}
.calander_event_table tr {
    margin: 15px 0;
    display: block;
}
.calander_event_table td {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    word-break: break-word;
}
.calander_event_table td span {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.calander_event_table td.event_title {
    color: #6b6b6b;
    padding-right: 15px;
    min-width: 90px;
    width: 90px;
    max-width: 90px;
}
.calander_event_table .event_dtl {
    /* min-width: 238px;
    width: 238px;
    max-width: 238px; */
    padding-left: 20px;
    border-left: 3px solid;
    font-weight: 600;
}
.calander_event_table td.event_dtl.birthday {
    border-color: #ff00d6;
}
.calander_event_table td.event_dtl.work {
    border-color: #4a87ff;
}
.table_color_content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 8px;
    padding: 0 30px;
    max-width: 435px;
    margin: 0 auto;
}
.table_color_content p {
    font-size: 10px;
    font-weight: 600;
    color: #000;
    margin: unset;
}
.table_color_content p span {
    border-radius: 50%;
    background-color: transparent;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}
.table_color_content p span.current_date {
    background-color: #00a3ff;
}
.table_color_content p span.missing_timesheet {
    background-color: #f85046;
}
.table_color_content p span.holiday {
    background-color: #ff00d6;
}
.table_color_content p span.leave_date {
    background-color: #f39e24;
}
/* responsive */
@media only screen and (max-width: 1199px) {
} /* 1024 */
@media only screen and (max-width: 1023px) {
} /* 980 */
@media only screen and (max-width: 979px) {
} /* 768 */
@media only screen and (max-width: 767px) {
} /* 650 */
@media only screen and (max-width: 649px) {
} /* 480 */
@media only screen and (max-width: 479px) {
    .calendar-days div {
        font-size: 10px;
    }
    .calendar-week-day div,
    .month-list > div > div {
        font-size: 11px;
        line-height: 21px;
    }
    .calendar-header .year-picker {
        font-size: 13px;
        line-height: 16px;
    }
    .month-list {
        grid-template-columns: repeat(2, auto);
    }
    .calander_event_table td.event_title {
        min-width: 65px;
        width: 65px;
        max-width: 65px;
    }
    .calander_event_table .event_dtl {
        min-width: 130px;
        width: 130px;
        max-width: 130px;
    }
    .calendar-body {
        padding: 0;
    }
    .calander {
        padding: 15px;
    }
    .calander_event_wrp {
        padding: 15px;
    }
    .calendar-days {
        gap: 2px;
    }
    .table_color_content {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
} /* 375 */
@media only screen and (max-width: 374px) {
} /* 320 */
