
.landing_page_wrp .header ul{
    list-style:none;
}
.landing_page_wrp .header li a{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-right: 20px;
}
.button{
    background: #FFFFFF;
    border-radius: 90px;
    border: white;
    padding: 0px;
    padding: 9px 24px;
}
.navbar{
    padding:unset;
}
.landing_page_wrp .header .logo{
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    color: #F85046;
}
.landing_page_wrp .banner_wrp{
    margin-top: 70px;
}
.landing_page_wrp .banner_wrp .banner_left{
    padding-top: 54px;
}
.landing_page_wrp .banner_wrp .banner_left h2{
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #1B1B1B;
}
.landing_page_wrp .banner_wrp .banner_left strong{
    color:#F85046;
}
.landing_page_wrp .banner_wrp .banner_left p{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #343434;
    margin-top: 35px;
}

.landing_page_wrp .banner_wrp .banner_left button {
    background: #F85046;
    border-radius: 90px;
    color: white;
    border: none;
    padding: 7px 20px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    font-weight: 600;
}
.landing_page_wrp .banner_wrp .banner_right figure{
    width: 450px;
    height: 500px;
}
.landing_page_wrp .banner_wrp .banner_right img{
    max-width: 100%;
    max-height: 100%;
}
.landing_page_wrp .erp_software{
    margin-top: 70px;
    text-align: center;
    position:relative;
}
h3{
    font-weight: 700;
    font-size: 36px;
    line-height: 74px;
    text-transform: capitalize;
}
strong{
    color:red;
}
p{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #343434;
}

.landing_page_wrp .erp_software .video{
    width: 800px;
    margin-top: 50px;
}
 .employee_info{
    margin-top: 70px;
    background: #F2F2F2;
    position:relative;
}
 .employee_info .info{
    padding: 80px 40px;
}
.employee_info h3{
    font-weight: 700;
    font-size: 32px;
    line-height: 60px;
    color: #F85046;
}
.employee_info p{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #343434;
}
.employee_info .info figure{
    width:550px;
}
.employee_info .img1{
    max-width: 100%;
}
.employee_info .img2{
    max-width: 100%;
    position: absolute;
    left: -50px;
}
.employee_info .list{
    font-weight: 500;
    font-size: 15px;
    line-height: 40px;
    color: #343434;
}
.employee_info .info a{
    font-weight: 700;
    font-size: 19px;
    line-height: 32px;
    color: #F85046;
}
 .employee_info a:focus,
 .employee_info a:hover,
 .employee_info a:focus-visible{
    color: #F85046;
    outline:none;
}
.free_demo_wrp .free_demo_innr_wrp{
    background: #F85046;
    box-shadow: 0px 0px 41px 2px rgb(248 80 70 / 39%);
    border-radius: 95px;
    margin-top:70px;
}
.free_demo_wrp .free_demo_innr_wrp figure{
    width:400px;
    margin: 0 auto;
}
.free_demo_wrp .free_demo_innr_wrp figure img{
    max-width:100%;
    margin-top: -82px;
}
.free_demo_wrp .free_demo_innr_wrp h3{
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-top: 40px;
}
.free_demo_wrp .free_demo_innr_wrp p{
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    padding: 20px 0 30px 0px;
    text-align: center;
    color: #FFFFFF;
}
.free_demo_wrp .free_demo_innr_wrp .demo_btn{
    text-align: center;
    padding-bottom: 50px;
}
.free_demo_wrp .free_demo_innr_wrp button{
    color: #F85046;
}
.testimonials_wrp{
    margin-top:70px
}
.slider_card{
    display: flex;
}
.bx-wrapper{
    box-shadow: none;
}
.testimonials_wrp figure{
    width: 90px;
}
.testimonials_wrp .client{
    margin-left: 20px;
}
.testimonials_wrp .client h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-transform: capitalize;
    color: #000000
}
.testimonials_wrp .client p{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #F85046;
}
.testimonials_wrp .text{
    background: #F4F4F4;
    box-shadow: 0px 4px 34px rgb(0 0 0 / 5%);
    border-radius: 10px;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #343434;
    padding: 20px;
}
.client_slider{
    margin-top: 60px;
}
.designation{
    align-items: center;
}
.faq_wrp{
    background: #F2F2F2;
    padding: 40px;
}
.faq_wrp h1{
    font-weight: 600;
    font-size: 35px;
    line-height: 70px;
    text-align: center;
    text-transform: capitalize;
    color: #1B1B1B;
}




html { /*---- !! don't copy this style as it is only for display in codeped !! -----*/
    width: 80%;
    min-width: 150px;
    height: 100%;
    margin: 0 auto;
    overflow-y: scroll;
    background-color: #FFF;
    font-family:  sans-serif;
    color: rgba(48, 69, 92, 0.8);
  }
  /* -----------------> can start accordion style copy from here ------------------------*/
  
  .accordion-bral {
    min-height: 0;
    min-width: 220px;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    margin: 0px!important;
  }
  .accordion-bral .ac-label {
    font-family: Arial, sans-serif;
    padding: 5px 20px;
    position: relative;
    display: block;
    height: auto;
    cursor: pointer;
    color: #777;
    line-height: 33px;
    font-size: 19px;
    background: #EFEFEF;
    border: 1px solid #CCC;
  }
  .accordion-bral .ac-label:hover {
    background: #BBB;
  }
  .accordion-bral input + .ac-label  {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .accordion-bral input:checked + .ac-label,
  .accordion-bral input:checked + .ac-label:active {
    background-color: rgba(79, 79, 79, 0.5) !important;
    color: #FFF;
    box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 0px 2px 2px rgba(0, 0, 0, 0.1);
  }
  .accordion-bral input.ac-input {
    display: none;
  }
  .accordion-bral .article {
    background: rgb(240, 240, 240);
    overflow: hidden;
    height: 0px;
    max-height: auto;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .accordion-bral .article p {
    color: #777;
    line-height: 23px;
    font-size: 14px;
    padding: 20px;
  }
  .accordion-bral input:checked ~ .article i {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .accordion-bral input:checked ~ .article.ac-content {
    height: auto;
  }
  
  .accordion-bral i {
    position: absolute;
    transform: translate(-30px, 0);
    margin-top: 16px;
    right: 0;
  }
  .accordion-bral input:checked ~ .ac-label i:before {
    transform: translate(2px, 0) rotate(-45deg);
  }
  .accordion-bral input:checked ~ .ac-label i:after {
    transform: translate(-2px, 0) rotate(45deg);
  }
  .accordion-bral i:before, .accordion-bral i:after {
    content: "";
    position: absolute;
    background-color: #808080;
    width: 3px;
    height: 9px;
  }
  .accordion-bral i:before {
    transform: translate(-2px, 0) rotate(-45deg);
  }
  .accordion-bral i:after {
    transform: translate(2px, 0) rotate(45deg);
  }
  ul.ac-list {
    padding-left: 40px;
    list-style-type: disc;  
  }
  
  table.ac-table {
    margin: 20px 0 20px 20px;
  }
  table.ac-table th{
    text-align: left;
  }
  
  @media (max-width: 550px) {
    .accordion-bral .ac-label {
    font-family: Arial, sans-serif;
    padding: 5px 20px;
    position: relative;
    display: block;
    height: auto;
    padding-right: 40px;
    cursor: pointer;
    color: #777;
    line-height: 33px;
    font-size: 19px;
    background: #EFEFEF;
    border: 1px solid #CCC;
  }
    .accordion-bral i {
    position: absolute;
    transform: translate(-30px, 0);
    margin-top: 2%;
    right: 0;
  }
  }
  /* ---------- accordion style end --------------------------------------- */