* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Poppins", sans-serif;
  }
  .container-fluid {
    padding: 30px 0px;
  }
.header{
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index:999;
}
.header a.active:after {
    background-color: #F85046;
    border: 2px solid #F85046;
    border-radius: 50px;
    content: "";
    display: block;
    width: 20px;
}
#navbarSupportedContent{
    justify-content:end;
}
.nav-item .nav-link.active,
.nav-item .nav-link:hover {
    font-weight:600;
    color:#000000;
}
.header li a{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #343434;
    margin-right: 35px;
}
.button{
    background: #FFFFFF;
    border-radius: 90px;
    border: white;
    padding: 0px;
    padding: 9px 24px;
    filter: drop-shadow(0px 4px 54px rgba(0, 0, 0, 0.1));
}
.button:focus, .button:focus-visible{
    outline:unset;
}
.navbar{
    padding:unset;
}
.banner_wrp{
    background-image:url('./assets/images/Rectangle 16.svg');
}
.landing_page_wrp .header .logo{
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    color: #F85046;
}
.landing_page_wrp .banner_wrp{
    margin-top: 70px;
}
.landing_page_wrp .banner_wrp .banner_left{
    padding-top: 54px;
}
.landing_page_wrp .banner_wrp .banner_left h2{
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #1B1B1B;
}
.landing_page_wrp .banner_wrp .banner_left strong{
    color:#F85046;
}
.landing_page_wrp .banner_wrp .banner_left p{
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    color: #343434;
    margin-top: 35px;
}

.landing_page_wrp .banner_wrp .banner_left button {
    background: #F85046;
    border-radius: 90px;
    color: white;
    border: none;
    padding: 7px 20px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    font-weight: 600;
    margin-top: 20px;
}
.landing_page_wrp .banner_wrp .banner_left button:focus, .landing_page_wrp .banner_wrp .banner_left button:focus-visible{
    outline:unset;
}
.landing_page_wrp .banner_wrp .banner_right figure{
    width: 450px;
    height: 500px;
}
.landing_page_wrp .banner_wrp .banner_right img{
    max-width: 100%;
    max-height: 100%;
}
.landing_page_wrp .erp_software{
    margin-top: 70px;
    text-align: center;
    position:relative;
}
h3{
    font-weight: 700;
    font-size: 36px;
    line-height: 74px;
    text-transform: capitalize;
}
strong{
    color:red;
}
p{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #343434;
}

.landing_page_wrp .erp_software .video{
    width: 800px;
    margin-top: 30px;
}
 .employee_info{
    margin-top: 70px;
    background: #F2F2F2;
    position:relative;
}
 .employee_info .info{
    padding: 80px 40px;
}
.employee_info h3{
    font-weight: 700;
    font-size: 32px;
    line-height: 60px;
    color: #F85046;
}
.employee_info p{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #343434;
}
.employee_info .info figure{
    width:550px;
}
.employee_info .img1{
    max-width: 100%;
}
.employee_info .img2{
    max-width: 100%;
    position: absolute;
    left: -50px;
}
.employee_info .list{
    font-weight: 500;
    font-size: 15px;
    line-height: 40px;
    color: #343434;
    padding: 0 0 0 30px;
}
.employee_info .list_head{
    padding:unset;
}
.employee_info .info a{
    font-weight: 700;
    font-size: 19px;
    line-height: 32px;
    color: #F85046;
}
 .employee_info .info a:focus,
 .employee_info .info a:hover,
 .employee_info .info a:focus-visible{
    color: #F85046;
    outline:none;
}
.free_demo_wrp .free_demo_innr_wrp{
    background: #F85046;
    box-shadow: 0px 0px 41px 2px rgb(248 80 70 / 39%);
    border-radius: 95px;
    margin-top: 140px;
}
.free_demo_wrp .free_demo_innr_wrp figure{
    width:400px;
    margin: 0 auto;
}
.free_demo_wrp .free_demo_innr_wrp figure img{
    max-width:100%;
    margin-top: -82px;
}
.free_demo_wrp .free_demo_innr_wrp h3{
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-top: 40px;
}
.free_demo_wrp .free_demo_innr_wrp p{
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    padding: 20px 0 30px 0px;
    text-align: center;
    color: #FFFFFF;
}
.free_demo_wrp .free_demo_innr_wrp .demo_btn{
    text-align: center;
    padding-bottom: 50px;
}
.free_demo_wrp .free_demo_innr_wrp button{
    color: #F85046;
}
.testimonials_wrp{
    margin-top:70px
}
.slider_card{
    display: flex;
}
.bx-wrapper{
    box-shadow: none;
}
.bx-viewport.bx-viewport{
    height:auto !important;
}
.testimonials_wrp figure{
    width: 90px;
}
.testimonials_wrp .client{
    margin-left: 20px;
}
.testimonials_wrp .client h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-transform: capitalize;
    color: #000000
}
.testimonials_wrp .client p{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #F85046;
}
.testimonials_wrp .text{
    background: #F4F4F4;
    box-shadow: 0px 4px 34px rgb(0 0 0 / 5%);
    border-radius: 10px;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #343434;
    padding: 20px;
}
.client_slider{
    margin-top: 60px;
}
.designation{
    align-items: center;
    justify-content: center;
}
.faq_wrp{
    background: #F2F2F2;
    padding: 40px;
}
.faq_wrp h1{
    font-weight: 600;
    font-size: 35px;
    line-height: 70px;
    text-align: center;
    text-transform: capitalize;
    color: #1B1B1B;
}
.bx-wrapper .bx-controls-direction a {
    top: 109%;
    
}
.testimonials_wrp a.bx-next{
    left: 50%;
}
.testimonials_wrp a.bx-prev{
    left: 45%;
    background-image: url("../images/prev-btn.png");
    background-repeat: no-repeat;
    border: 1px solid #FFB7B3;
    border-radius: 10px;
}

.free_demo_form .free_demo_form_innr_wrp{
    background: #F85046;
    box-shadow: 0px 0px 41px 2px rgb(248 80 70 / 39%);
    border-radius: 95px;
    margin-top: 140px;
    padding: 50px;
}
.free_demo_form{
    margin-bottom: 40px;
}
.free_demo_form .free_demo_form_innr_wrp h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 54px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom:40px;
}
.free_demo_form .free_demo_form_innr_wrp input{
    background: transparent;
    box-shadow: 0px 0px 74px 2px rgb(212 80 70 / 60%);
    border-left: unset;
    border-bottom: unset;
    border-top: 0.25px solid #FFFFFF;
    border-right: 0.25px solid #FFFFFF;
}
.free_demo_form .free_demo_form_innr_wrp .form_left{
    margin-bottom: 40px;
}
.free_demo_form .free_demo_form_innr_wrp .form_left .left_input{
    border-right: unset;
    border-left: 0.25px solid #FFFFFF;
}
.free_demo_form .free_demo_form_innr_wrp textarea{
    background: transparent;
    box-shadow: 0px 0px 74px 2px rgb(212 80 70 / 60%);
    border-left: unset;
    border-bottom:  0.25px solid #FFFFFF;
    border-top: 0.25px solid #FFFFFF;
    border-right:unset;
    min-height:150px;
}
.free_demo_form .free_demo_form_innr_wrp .form_right{
    position:relative;
}
.free_demo_form .free_demo_form_innr_wrp .form_right .notepade_img{
    width: 65%;
    position: absolute;
    left: -14px;
    right: 0;
    top: 114px;
    bottom: 49px;
}
.free_demo_form .free_demo_form_innr_wrp .form_right .writer_img{
    width: 384px;
    position: absolute;
    z-index: 1;
    top: -54px;
    right: 38px;
}
.accordion-item{
    border: 0.25px solid #6C6C6C !important;
    border-radius: 10px !important;
    padding: 8px 20px;
    margin-bottom: 30px;
}
.accordion-button{
    border: none;
    width: 100%;
    text-align: left;
}
.accordion-button:focus{
    outline: none;
}
.accordion-header{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #000000;
}
.accordion-button img{
    max-width: 9px;
    margin-right: 10px
}
.accordion{
    margin-top: 50px;
}
.sub_query{
    text-align:center;
}
.sub_query button{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #F85046;
}
.footer{
    background:black;
    padding:10px;
    position: sticky;
    bottom: 0;
    z-index: 999;
    display:flex;
    justify-content:center;
    align-item:center;
}
.footer span{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer figure{
    width:20px;
    margin-bottom:unset;
    margin-right:10px;
}
.footer figure img{
    max-width:100%
}

/* responsive */
@media only screen and (max-width: 1199px) {
    .landing_page_wrp .banner_wrp .banner_right figure{
        width: 400px;
        height: 500px;
    }
    .employee_info .info figure {
        width: 475px;
    }
} /* 1024 */
@media only screen and (max-width: 1023px) {
    .landing_page_wrp .banner_wrp .banner_left h2{
        font-size:36px;
    }
    .landing_page_wrp .banner_wrp .banner_left p br{
        display:none;
    }
    .landing_page_wrp .banner_wrp .banner_left p{
        font-size:16px;
    }
    .employee_info .info figure{
        margin-top:30px;
    }
} /* 980 */
@media only screen and (max-width: 979px) {
    .free_demo_wrp .free_demo_innr_wrp h3 br{
        display:none;
    }
    .landing_page_wrp .banner_wrp .banner_right figure{
        width:300px;
    }
} /* 768 */