@media only screen and (max-width: 649px) {
 
} /* 480 */
@media only screen and (max-width: 479px) {

  h2{
    font-size: 14px;
  }
  h3{
    font-size: 13px;
  }
  h4,select, input, textarea, .profile_skils_wrp,label{
    font-size: 12px;
  }
  p{
    font-size: 11px;
  }
  .emp_leave_dtl{
    font-size: 10PX;
  }
  .emp_profile_box_wrp{
    padding: 15px;
  }
  .emp_profile_wrp  figure img{
    width: 60px;
    height: 60px;
  }
  .profile_skils{
    font-size: 10px;
    margin-right: 6px;
    margin-bottom: 6px;
  }
  .submit{
    font-size: 12px;
  }
  .profile_inner_lft{
    margin-bottom: 15px;
  }
  .subtitle,.timesheet_alert,.calander_event_btn{
    font-size: 11px;
  }
  .greeting_card .greeting_card_inner span,.calander_event_wrp h2{
    font-size: 13px;
  }
  .announcement_card span{
    font-size: 35px;
    line-height: 29px;
  }
  .announcement_card {
    min-height: 150px;
}
.sidebar.expand_sidebar .menu_wrp {
    padding: 0 30px;
}
.menu_wrp li,.help_btn{
  font-size: 13px;
    line-height: 14px;
}
.dashboard_card_title img{
  width:15px;
  height:15px;
}
.announcement_card,.table_card{
  padding:15px
}
.dashboard_card_title{
  font-size: 12px;
}
.table_card  table{
  width: 257px;
}
.dashboard_wrp, .addtimesheet_wrp,.apply_leave_wrp,.settings_wrp{
  padding: 15px;
  border-radius: 35px;
}
.settings_wrp .accordion-body{
  padding:15px;
}
.dashboard_cards_wrp{
  padding: 15px 0;
}
.table_card td,.table_card th,.calander_event_table td{
  font-size: 11px;
    line-height: 12px;
}
.greeting_card .greeting_card_inner span{
  text-align: center;
  left:0;
  right:0;
  bottom:20px;
  padding:0 8px;
}
} /* 375 */
@media only screen and (max-width: 374px) {
} /* 320 */
