.leave_dates_wrp{
    gap: 55px;
    display:flex;
}
.leave_form{
    margin-top:65px;
}
.leave_form .employee{
    display:flex;
}
.leave_form .from_date{
    display: flex;
    width: 47%;
}
.leave_form .from_date .date_label{
    display: inline-block;
    vertical-align: middle;
    width: 23%;
}
.leave_form .from_date .date_input{
    display: inline-block;
    vertical-align: middle;
    width: 77%;
}
.leave_form .from_date .to_date{
    display: inline-block;
    vertical-align: middle;
    width: 20%
}
.leave_form .from_date .to_date_input{
    display: inline-block;
    vertical-align: middle;
    width: 80%;
}
.leave_form .employee_label{
    display: inline-block;
    vertical-align: middle;
    width: 11%;
}
.leave_form .employee_input{
    display: inline-block;
    vertical-align: middle;
    width: 90%;
    padding-left: unset;
}
.leave_form .filter-multi-select > .viewbar{
    padding-left: unset;
}
.leave_form .reject_btn {
    position: relative;
    font-size: 13px;
    font-weight: 700;
    color: #F85046;
    background: transparent;
    border-radius: 50px;
    border: 1px solid #F85046;
    padding: 8px 28px;
    margin-right: 20px;
}

/* responsive */
@media only screen and (max-width: 1023px) {
    .leave_dates_wrp{
        gap: 30px;
    }
    .leave_form .from_date{
        width: 48%;
    }
    .leave_form .from_date .date_label{
        width: 27%;
    }
    .leave_form .from_date .date_input{
        width: 80%;
    }
    .leave_form .employee_input{
        width:95%;
    }
    .leave_form .employee_label{
        width:13%
    }
} /* 980 */
@media only screen and (max-width: 979px) {
    .leave_dates_wrp{
        gap: unset;
        display:block;
    }
    .leave_form .from_date{
        width: 100%;
    }
    .leave_form .from_date .date_label{
        width: 20%;
    }
    .leave_form .from_date{
        margin-bottom: 40px;
    }
    .leave_form .employee_input {
        width: 88%;
    }
    .leave_form .employee_label {
        width: 22%;
    }
    .status {
        font-size: 18px;
    }
    .leave_type {
        font-size: 27px;
    }
    
    
} /* 768 */
@media only screen and (max-width: 649px) {
    .status {
        font-size: 14px;
        line-height: 16px;
    }
    .leave_type {
        font-size: 19px;
        line-height: 25px;
    }
    .leave_form .from_date{
        display: block;
    }
    .leave_form .from_date .date_label {
        width: 100%;
    }
    .leave_form .from_date .date_input {
        width: 100%;
    }
    .leave_form .from_date .to_date{
        width: 100%;
    }
    .leave_form .from_date .to_date_input{
        width: 100%;
    }
    .leave_form .employee{
        display:block;
    }
    .leave_form .employee_label {
        width: 100%;
    }
    .leave_form .employee_input {
        width: 100%;
    }
} /* 480 */
@media only screen and (max-width: 479px) {
    .leave_form {
        margin-top: 40px;
    }
    .leave_form .reject_btn{
        margin-bottom: 20px;
        padding: 6px 28px;
        margin-right:unset;
    }
} /* 375 */