* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fffdfa;
  font-family: "Poppins", sans-serif;
}
.container-fluid{
  padding:0 30px; 
}
/* table_card scrollbar css */
::-webkit-scrollbar {
  width: 0px;
}
h1 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
}
h2 {
  font-size: 20px;
  font-weight: 500;
}
h3 {
  font-size: 18px;
  font-weight: 600;
}
h4 {
  font-size: 16px;
  font-weight: 600;
}
.page_title {
  color: #f85046;
  font-weight: 700;
}
p{
  font-size: 14px;
}
.subtitle {
  font-size: 14px;
  color: #686868;
}

.rotate-180,.accordion-button:not(.collapsed)::after {
  transform: rotate(180deg);
}
.rotate-90 {
  transform: rotate(90deg);
}
.rotate-270 {
  transform: rotate(270deg);
}
/* sidebar css */

.sidebar {
  width: 280px;
  position: fixed;
  height: 100vh;
  padding: 15px 15px 15px 30px;
  overflow: auto;
  z-index: 999;
}

/* .profile_wrp img{
    margin: 0 auto;
  } */
.profile_icon {
  background-color: #f3f1ef;
  border-radius: 50%;
  padding: 8px;
  border: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .profile_icon:nth-child(2) {
  margin: 0 15px;
} */
.profile_wrp h2 {
  font-weight: 700;
}
.profile_img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.profile_icon img {
  width: 16px;
  height: 16px;
}
.menu_wrp {
  list-style-type: none;
  padding: 0 15px;
}
.light_img{
  display:none
}
.menu_wrp li.active .light_img,.menu_wrp li:hover .light_img{
  display:inline-block
}
.menu_wrp li.active .dark_img,.menu_wrp li:hover .dark_img{
  display:none
}
.menu_wrp li {
  text-decoration: none;

  margin: 6px 0;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #1b1b1b;
  border-radius: 10px;
  border: unset;
  background-color: transparent;
  width: 100%;
}
.menu_wrp li a {
  text-decoration: none;
  color: #1b1b1b;
  width: 100%;
  padding: 12px 25px;
  display: block;
}
.menu_wrp li.active,
.menu_wrp li:hover
 {
  /* background-color: #f3f1ef; */
  background-color: #F85046;

}
.menu_wrp li.active a,
.menu_wrp li:hover a{
  color: #ffffff;
}
.menu_wrp li a img {
  margin-right: 15px;
}
.menu_wrp li a .down_arrow {
  margin-left: 8px;
  margin-right: 0;
}
.menu_wrp .submenu {
  display: none;
}
.menu_wrp .submenu li a {
  padding: 6px 25px;
  margin: unset;
}
.menu_wrp li:hover .submenu {
  display: block;
}

.help_btn {
  background: url("../images/help_btn_back.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  border: unset;
  padding: 20px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.help_btn img {
  margin-right: 15px;
  width: 25px;
  height: 25px;
}
.sidebar_toggler {
  cursor: pointer;
}

/* end of sidebar css */

/* notification css */
/* .notification_btn {
  position: relative;
}
.notification_btn:hover .notification_wrp{
  display: block;
}
.notification_wrp {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 100px;
  background-color: #ffffff;
  z-index: 99999;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
} */
/* end of notification css */
/* expanded sidebar css */
.sidebar.expand_sidebar {
  width: 75px;
  padding: 15px;
}
.sidebar.expand_sidebar .sidebar_head {
  justify-content: center !important;
}
.sidebar.expand_sidebar .sidebar_head figure,
.sidebar.expand_sidebar .profile_icon_wrp,
.sidebar.expand_sidebar .profile_wrp h2,
.sidebar.expand_sidebar .profile_wrp p,
.sidebar.expand_sidebar .menu_wrp li a span,
.sidebar.expand_sidebar .help_btn span {
  display: none !important;
}
.sidebar.expand_sidebar .profile_img {
  width: 30px;
  height: 30px;
}
.sidebar.expand_sidebar .menu_wrp {
  padding: unset;
}
.sidebar.expand_sidebar .menu_wrp li a {
  padding: 8px;
  text-align: center;
}
.sidebar.expand_sidebar .menu_wrp li a img,
.sidebar.expand_sidebar .help_btn img {
  margin: 0 auto;
}
.sidebar.expand_sidebar .help_btn {
  padding: 8px;
}
.contant.expand_contant {
  margin-left: 75px;
}
/* expanded sidebar css */

/* calander css */

/* end of calander css */

.contant {
  margin-left: 280px;
  margin-right: 380px;
  padding: 15px;
}
.timesheet_page_wrp .contant{
  margin-right:unset;
}
/* dashboard  page css */
.dashboard_wrp,
.addtimesheet_wrp,
.settings_wrp,.apply_leave_wrp, .client_list_wrp, .emp_leave_balance_wrp, .client_list_add_client_wrp, .employee_list_wrp, .past_employee_list_wrp, .leave_review_wrp,
.my_leave_review_wrp, .admin_report_list_wrp, .regularization_review_wrp, .regularization_review_history_wrp, .leave_history_wrp{
  background-color: #fff6e9;
  border-radius: 50px;
  padding: 30px;
  min-height: 92vh;
}
.dashboard_wrp .username {
  color: #f85046;
}
.dashboard_wrp .thoughtby {
  color: #1b1b1b;
  font-weight: 600;
}
.timesheet_alert {
  background-color: #ff0000;
  border-radius: 8px;
  color: #ffffff;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 600;
  position: relative;
}
.timesheet_alert:before {
  background-color: rgba(255, 0, 0, 0.8);
  bottom: 0;
  content: "";
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  top: 25;
  width: 100%;
  border-radius: 50px;
  filter: blur(22px);
}
/* end of dashboard  page css */

.dashboard_cards_wrp {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px 15px;
  padding: 35px 0;
}

/* card css */
.card {
  border-radius: 20px;
  border: unset;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.anniversary_card {
  background-image: url("../images/cards/anniversary_back.svg");
}
.birthday_card {
  background-image: url("../images/cards/birthday_back.svg");
}
.holiday_list_card {
  background-image: url("../images/cards/holidays_list_days.svg");
}
.announcement_card {
  background-image: url("../images/cards/announcements-back.svg");
  padding: 20px 30px;
}

.holiday_list_card h2,
.announcement_card h2,
.holiday_list_card.table_card th,
.holiday_list_card.table_card td {
  color: #ffffff;
}

.table_card {
  padding: 30px 15px;
}
.table_card .table_wrp {
  overflow: auto;
  overflow-y: auto;
  max-height: 200px;
}
.table_card thead {
  position: sticky;
  top: -3px;
  z-index: 1;
  backdrop-filter: blur(3px);
}
.table_card tr {
  border-color: transparent;
}
.table_card th {
  width: 50%;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #1b1b1b;
}
.table_card td {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #1b1b1b;
}
.greeting_card .greeting_card_inner {
  position: relative;
}
.greeting_card .greeting_card_inner::before {
  background: linear-gradient(0.33deg, #f85046 0.47%, rgba(0, 0, 0, 0) 63.83%);
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  border-radius: 20px;
}
.greeting_card .greeting_card_inner img {
  border-radius: 20px;
}
.greeting_card .greeting_card_inner span {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.announcement_card span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  font-weight: 400;
  font-size: 75px;
  line-height: 55px;
  font-family: "Praise", cursive;
}
.dashboard_card_title {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 25px;
}
.dashboard_card_title img {
  margin-left: 8px;
}

.dashboard_right_contant_wrp {
  padding: unset;
}
/* end of card css */

/* page inner css */
.page_inner_wrp {
  background: #ffeed5;
  border-radius: 25px;
  padding:25px;
}
/* end of page inner css */

.table_action_btn {
  font-size: 12px;
  font-weight: 600;
  color: #1b1b1b;
  border: 1px solid #f85046;
  border-radius: 10px;
  background-color: transparent;
  padding: 4px 8px;
}
.table_action_btn:after {
  background-image: url("../images/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.table_action_menu {
  background-color: #ffdfb2;
  border-color: #b7b7b7;
}
.table_action_menu li {
  padding: 0 12px;
}
.table_action_menu li:hover {
  background-color: #ffeed5;
}

/* form css */
label {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}
select,
input,
textarea,
.profile_skils_wrp,.viewbar {
  border: unset;
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.15);
  background-color: #ffeed5;
  width: 100%;
  font-size: 14px;
  border-radius: unset;
}
input{
  background-color: transparent;
}
select:focus,
select:focus-visible,
select:active,
input:focus,
input:focus-visible,
input:active,
textarea:focus,
textarea:focus-visible,
textarea:active {
  outline: unset;
}
.btn {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  border: unset;
  padding: 7px 19px;
  border-radius: 10px;
  border: 0.5px solid;
}
.Regularize {
  background-color: #f85046;
  border-color: #f85046 !important;
}
.Filter {
  background-color: #F39E24;
  border-color: #F39E24 !important;
  margin-right: 20px;
}
.filter_table_wrp {
  overflow: auto;
}
form input,
.emp_attandance_dtl_wrp input,
.emp_profile_dtl_wrp input,
.emp_summery_inner  input {
  width: 100%;
}
.submit {
  border: unset;
  background: #f85046;
  color: #ffffff;
  border-radius: 50px;
  padding: 8px 28px;
  position: relative;
  font-size:14px;
  text-decoration: unset;
}
.submit:before {
  background-color: #f85046;
  bottom: 0;
  content: "";
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  top: 25;
  width: 100%;
  border-radius: 50px;
  filter: blur(12px);
}
.profile_skils {
  border: 1px solid #b7b7b7;
  border-radius: 50px;
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 4px 12px;
  display: inline-block;
}
/* end of form css */

/* settings page css */
.setting_tab_head {
  background-color: #f85046;
  border-radius: 35px 35px 0 0;
  padding: 15px 30px;
  align-items: center;
}
.setting_tab_head span {
  color: #ffffff;
  margin: 0 8px;
}
.setting_tab_head .nav-item .nav-link {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  padding: 6px 23px;
}
.setting_tab_head .nav-item .nav-link.active {
  background-color: #000;
  border-radius: unset;
}
.setting_tab_containt {
  padding: 30px;
}
.change_password_inner {
  width: 80%;
  margin: 0 auto;
}
.emp_attandance_dtl_wrp {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 50px 30px;
}
.emp_profile_dtl_wrp ,.apply_leave_inner{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 40px;
}

.emp_profile_wrp figure image {
  border-radius: 50%;
}
.emp_profile_wrp .edit_btn{
  border: 1px solid #B7B7B7;
  background-color: transparent;
  border-radius: 40px;
  font-size: 12px;
  padding: 3px 12px;
}
.emp_profile_wrp .edit_btn img{
  margin-right: 8px;
}
.emp_profile_box_wrp{
  border-radius: 18px;
  padding:30px  25px;
}
.emp_profile_wrp {
  background-color: #ffe1b6;
}
.emp_leave_dtl_wrp{
  background-color: 
  #FFC3C0;
}
.emp_leave_dtl{
  font-size: 12px;
}
.emp_summery_dtl_wrp{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 30px;
}
.settings_mobile_wrp{
  display: none;
}
.settings_mobile_wrp .accordion{
  border-radius: 25px;
}
.settings_mobile_wrp .accordion-item:first-child,.settings_mobile_wrp .accordion-item:first-child .accordion-header,.settings_mobile_wrp .accordion-item:first-child .accordion-header .accordion-button{
  border-radius: 25px 25px 0 0 ;
}
.settings_mobile_wrp .accordion-item:last-child,.settings_mobile_wrp .accordion-item:last-child .accordion-header,.settings_mobile_wrp .accordion-item:last-child .accordion-header .accordion-button[aria-expanded="false"],
.accordion-item:last-child .accordion-collapse.show .accordion-body{
  border-radius: 0 0 25px 25px  ;
}
.settings_mobile_wrp .accordion-item .accordion-header .accordion-button,.settings_mobile_wrp .accordion-item .accordion-header .accordion-button:focus{
  background-color: #F85046;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  outline: none;
  box-shadow:none;
}
.settings_mobile_wrp .accordion-item .accordion-body,.settings_mobile_wrp .accordion-item .accordion-header{
  background-color: #ffeed5;
}
.accordion-button::after,.accordion-button:not(.collapsed)::after{
background-image: url('../images/down-arrow-light.svg');
background-position: center;
}
/* end of settings page css */
.filter_table_wrp input {
    width: 60%;
}

.down_light_arrow{
  display:none
}

/* client-list-css */
 .import{
  background-color: #2CDE00;
  border-color: #2CDE00 !important;
  margin-right: 20px;
}
 .export{
  background-color: #F846BB;
  border-color: #F846BB !important;
  margin-right: 20px;
}
.client_list_wrp  .page_inner_wrp{
  position:relative;
}
/* .client_list_wrp .filter_table_btn_wrp{
  position: absolute;
  right: 25px;
  top: 18px;
} */
.client_list_wrp .submit{
  padding: 11px 28px;
}
/* end of client-list-css */
/* employee-leave-balance-list-css */
.emp_leave_balance_wrp .update_leave_btn {
  font-size: 14px;
  font-weight: 600;
  color: #1b1b1b;
  border: 1px solid #f85046;
  border-radius: 10px;
  background-color: transparent;
  padding: 7px 10px;
}
.emp_leave_balance_wrp  .page_inner_wrp{
  position:relative;
}
/* .emp_leave_balance_wrp .filter_table_btn_wrp{
  position: absolute;
  right: 25px;
  top: 18px;
} */
/* enf of employee-leave-balance-list-css */

/* client-list-add-client-css */
.client_list_add_client_wrp
  .page_inner_wrp{
  position:relative;
}
/* .client_list_add_client_wrp
 .filter_table_btn_wrp{
  position: absolute;
  right: 25px;
  top: 18px;
  z-index: 1;
} */
.filter_table_btn_wrp{
  position: absolute;
  right: 25px;
  top: 18px;
  z-index: 1;
}
.client_list_add_client_wrp .submit{
  padding: 11px 28px;
}
/* enf of client-list-add-client-css */
/* employee-list-css */
.employee_list_wrp
  .page_inner_wrp{
  position:relative;
}
/* .employee_list_wrp
 .filter_table_btn_wrp{
  position: absolute;
  right: 6px;
  top: 18px;
} */
span a{
  color:black;
}
/* end of employee-list-css */

/* regularization-review-css */
.regularization_review_wrp
  .page_inner_wrp{
  position:relative;
}
.regularization_review_wrp
 .filter_table_btn_wrp{
  position: absolute;
  right: 6px;
  top: 18px;
}
/* end of regularization-review-css */

/* regularization-review-history-css */
.regularization_review_history_wrp
  .page_inner_wrp{
  position:relative;
}
.regularization_review_history_wrp
 .filter_table_btn_wrp{
  position: absolute;
  right: 6px;
  top: 18px;
}
/* end of regularization-review-history-css */

/* past employee list css */
.past_employee_list_wrp
  .page_inner_wrp{
  position:relative;
}
.past_employee_list_wrp
 .filter_table_btn_wrp{
  position: absolute;
  right: 6px;
  top: 18px;
}
/* end of past employee list css */


.avaiabe_leave_dtl{
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  background: #2CDE00;
border-radius: 10px;
padding: 7px 15px;
width: 300px;
display: block;
margin: 0 auto;
}
.add_policy_inner{
  width: 65%;
  margin: 0 auto;
  padding: 30px 0;
}

.custom_input_wrp{
  border: 0.5px solid #B7B7B7;
  padding: 4px;
  display: flex;
    justify-content: space-between;
    align-items: center;
}
 .custom_input_wrp .fileUpload {
  position: relative;
  overflow: hidden;
  /* padding: 4px;  */
}
 .custom_input_wrp .fileUpload span{
  background-color: #1b1b1b;
  color: #ffffff;
  padding: 7px 10px;
  font-size: 14px;
  font-weight: 600;
  display: block;
    text-align: center;
}
 .fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 14px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
} 
 .custom_input_wrp  .f-input{
  height: 32px;
  background-color: transparent;
  width: 60%;
  padding: 4px;
  /* max-width: 300px; */
  float: left;
  padding: 0 14px;
  border: unset;
  }

  .upload_list_popup .custom_input_wrp{
    margin-left: 15px;
    border-color: #ffffff;
  }
  .upload_list_popup label{
    color: #fff;
  }
  .upload_list_popup  input, .upload_list_popup  input::placeholder{
    color: #fff;
    font-size: 12px;
  }
  .upload_list_popup .custom_input_wrp .fileUpload span{
    font-size: 12px;
  }
/* modal css */
.modal{
  background: rgba(255, 246, 233, 0.85);
  color: #ffffff;
}
.modal-dialog {
  min-width: 800px;
}
.modal-content{
  background: #F85046;
    box-shadow: 0px 4px 34px #f85046;
    border-radius: 20px;
    padding:15px;
    position:relative;
    border: unset;
}
.modal_close{
  position: absolute;
  top: 15px;
  right: 15px;
  border: unset;
  background-color: transparent;
  color: #ffffff;
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
  z-index: 9;
}
.conform_export_wrp{
  padding: 45px 0;
}
.conform_import_wrp{
  padding: 30px 15px;
}
.modal-body h2,h6{
  font-weight: 600;
}
<<<<<<<<< Temporary merge branch 1
.modal-body .popup_select_wrp{
  width: 60%;
  margin: 0 auto;
}
.modal-body .popup_select_wrp label{
  color: #ffffff;
}
.modal-body .popup_select_wrp select{
  background-color: #F85046;
  color: #ffffff;
  border-color: #ffffff;
  margin-left: 15px;
}
.modal-body .popup_select_wrp select option:disabled{
  color: #000;
}
.pupup_btn{
  border-radius: 50px;
  padding: 8px 30px;
  margin: 0 10px;
}
.dark_btn{
  background-color: #1b1b1b !important;
  border-color: #1b1b1b !important;
  position: relative;
}
.dark_btn::before{
  background-color: rgba(0, 0, 0, 0.52);
  bottom: 0;
  content: "";
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  top: 25px;
  width: 75%;
  border-radius: 50px;
  filter: blur(12px);
  margin: 0 auto;
}
.dark_btn:hover{
  border-color: #fff !important;  
}
.outline_btn:hover{
  border-color: #1b1b1b !important;
}
.conform_import_wrp ul{
  list-style-type: auto;
  padding-left:15px ;
}
.conform_import_wrp ul li{
  font-size: 14px;
  line-height: 28px;
  font-weight: 300;
}
.conform_export_wrp p,.conform_import_wrp li{
  font-weight: 500;
}
.update_leaves_popup{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 30px;
}
.modal label,.modal input,.modal input::placeholder{
  color: #ffffff;
  border-color: #ffffff;
}
/* end of modal css */
=========
/* end of modal css */
>>>>>>>>> Temporary merge branch 2
