@media only screen and (max-width: 979px) {
    .settings_mobile_wrp{
  display: block;
}
.settings_desktop_wrp{
    display:none
}
.emp_attandance_dtl_wrp,.emp_summery_dtl_wrp,.emp_profile_dtl_wrp,.update_leaves_popup{
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.change_password_inner {
    width: unset;
}
.emp_leave_balance_wrp .filter_table_btn_wrp{
  position: unset;
}
.client_list_wrp .filter_table_btn_wrp{
  position: unset;
}
.client_list_add_client_wrp .filter_table_btn_wrp{
  position: unset;
}
.employee_list_wrp .filter_table_btn_wrp{
  position: unset;
}
.past_employee_list_wrp  .filter_table_btn_wrp{
  position: unset;
}
.regularization_review_wrp .filter_table_btn_wrp{
  position: unset;
}
.regularization_review_history_wrp .filter_table_btn_wrp{
  position: unset;
}
.modal-dialog {
  min-width: 85%;
  max-width:85%;
  margin: auto;
}
.login_inner{
  width: 100%;
}
.input_flex_wrp{
  flex-direction: column;
}
.w-md-100{
width: 100%;
}
/* .input_flex_wrp{
  flex-direction: column;
} */
} /* 768 */
@media only screen and (max-width: 767px) {

    .dashboard_cards_wrp, .user_profile_dtl,.user_basic_dtl{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .announcement_card{
        min-height:300px
    }
    .profile_wrp {
  padding: 30px 0 !important;
}
.profile_inner_lft{
   display:block
  }
  /* .client_list_add_client_wrp .filter_table_btn_wrp{
    justify-content: center !important;
  } */
  /* .modal-body .popup_select_wrp{
    width: 100%;
  } */
  .login_wrp{
    position:unset;
    width:100%;
    border-radius:25px;
  }
  .login_page_wrp{
    background-image:unset;
  }
  .login_right_wrp{
    display:flex;
    justify-content: center;
    align-items: center;
  }

} /* 650 */