@media only screen and (max-width: 979px) {
    .settings_mobile_wrp{
  display: block;
}
.settings_desktop_wrp{
    display:none
}
.emp_attandance_dtl_wrp,.emp_summery_dtl_wrp,.emp_profile_dtl_wrp{
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.change_password_inner {
    width: unset;
}
.client_list_add_client_wrp .filter_table_btn_wrp{
    position: unset;
}
.modal-dialog {
  min-width: 85%;
  max-width:85%;
  margin: auto;
}
} /* 768 */
@media only screen and (max-width: 767px) {

    .dashboard_cards_wrp{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .announcement_card{
        min-height:300px
    }
    .profile_wrp {
  padding: 30px 0 !important;
}
.profile_inner_lft{
   display:block
  }
  .client_list_add_client_wrp .filter_table_btn_wrp{
    justify-content: center !important;
  }
  .modal-body .popup_select_wrp{
    width: 100%;
  }
} /* 650 */